/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==============================
	MY STYLES
==============================*/
@font-face {
	font-family: Tittilum;
	src: url('TitilliumMaps29L003.otf');
}

@font-face {
	font-family: LongText;
	src: url('RopaSans-Regular.ttf');
}

@font-face {
	font-family: Big;
	src: url('univers.ttf');
}



body {
background-color: black;
}

#Container {
vertical-align: center;
}

#GalleryView {
width: 100%;
background-color: black;
margin: auto;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
position: absolute;
vertical-align: center;
z-index: -200;
}

#content p {
	display:none;
}

.top-bar {
background-color: yellow;
height:6%;
width: 100%;
position: fixed;
vertical-align: top;
opacity: 0.10;
top: 0px;
z-index: 1500;

}

.left-bar {
background-color: #BB0000;
height:100%;
width: 9%;
position: fixed;
float: left;
left:0%;
opacity: 0.10;
top: 0px;
z-index:1501;
}

.right-bar {
background-color: #0000BB;
height:100%;
width: 9%;
position: fixed;
float:right;
right:0%;
vertical-align: right;
opacity: 0.10;
top: 0px;
z-index:1502;
}

#textOverlay {
float:left;
position: fixed;
bottom: 8%;
margin-left: 11%;
z-index: 500;
font-size: 4em;
line-height: 1em;
font-family: Helvetica;
font-weight: bolder;
color: white;
opacity: .8;
text-transform: uppercase;
text-shadow: 2px 2px black;
}

#buttons{
	float: none;
	position:fixed;

}

#popButton {
	font-family: LongText;
	font-size: 1.5em;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 1px 1px black;
	vertical-align: center;
	line-height: 2.5em;
	width: 100%;
	height: 7%;
	border: solid 1px #AAAAAA;
	border-top: solid 1px #665665;
	border-bottom: transparent;
	border-left: transparent;
	border-right: transparent;
	background: #222222;
	position:fixed;
	z-index: 15000;
	opacity: 0.9;
   	bottom:0;
}

a:link {text-decoration:none;}
a:link {color: white;}
a:visited {text-decoration:none;}
a:visited {color: white;}
a:hover {opacity:1.0;}
a:active {text-decoration:none;}

p:{border-bottom: black;}


#left {
	background: #BB0000;
	opacity: 0.95;
	font-family: LongText;
	color: #FFFFFF;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	border-bottom: solid 2px #DD0000;
	line-height: 1.5em;
	position: absolute;
	z-index: 800;
}

.objects:hover {opacity: 1.0;}

#right {
	background: #0000AA;
	opacity: 0.95;
	font-family: LongText;
	color: #FFFFFF;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	border-bottom: solid 2px #00DDDD;
	line-height: 1.5em;
	position: absolute;
	z-index: 800;
}

#top {
	background: #BBAA00;
	opacity: 0.95;
	font-family: LongText;
	color: #FFFFFF;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	border-bottom: solid 2px yellow;
	line-height: 1.5em;
	position: absolute;
	z-index: 800;
}

/* This imageless css button was generated by CSSButtonGenerator.com */



/*#UIElements .ui-collapsible .ui-collapsible-heading .ui-btn { border-top-width: 1px !important; }*/








